.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: repeating-conic-gradient(#766DF4 0 90deg,#E4E4ED 0 180deg);
    animation: s1 1s infinite linear;
  }
  
  @keyframes s1 {
    100% {transform: rotate(.5turn)}
  }